<div class="container" ng-controller="LoginController">
	<div class="navbar-header app-nav-header colw100">
		<div class="app-logo pull-left col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding"></div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pull-right">
			<div class="pull-right">
				<form role="form" class="login-form pull-left" ng-submit="submitLogInForm()">
					<div class="form-group pull-left">
					<input type="email" placeholder="email" class="form-control" ng-model="email">
					</div>
					<div class="form-group pull-left">
					<input type="password" placeholder="password" class="form-control" ng-model="password">
					</div>
					<button type="submit" class="btn btn-default white-fonts blue-bg">Submit</button>
				</form>
				<div class="fb-login pull-left">
					<fb:login-button scope="public_profile,email" onlogin="testLoginState();">
					</fb:login-button>
				</div>
			</div>
		</div>
	</div>
</div>
