<nav class="navbar navbar-default" role="navigation">
		<div ng-include="'partials/private/privatenavbar.html'"></div>
</nav>
<div class="container">
	<div class="profile-card col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding surround-border">
		<div class="profile-card-contents">
			<a ng-click="updateProfilePic();">
				<!-- <div class="profile-pic" ng-style="{'background':'transparent url(' + profilePic + ')'}"/> -->
				<div class="profile-pic-content">
					<img class="profile-pic" ng-src="{{profilePic}}" ng-style="{'width' : profilePicWidth+'px', 'height' : profilePicHeight+'px'}"/>
				</div>
			</a>
			<div class="profile-name">
				<span class="bold-fonts" ng-bind="name"></span>
				<h6 class="no-margin" ng-bind="email"></h6>
			</div> 
		</div>
	</div>
	<div class="live-feed col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="live-feed-contents surround-border">
			<ul class="tab-navigator">
				<li>
					<a ui-sref="widget({widgetId:6})">Feed</a>
				</li>
				<li>
					<a ui-sref="widget({widgetId:6})">Photos</a>
				</li>
				<li>
					<a ui-sref="widget({widgetId:6})">Music</a>
				</li>
				<li>
					<a ui-sref="widget({widgetId:6})">Video</a>
				</li>
			</ul>
		</div>
	</div>
	<!--<div class="notification-area col-lg-3 col-md-3 col-sm-3 col-xs-3">
	
	</div>-->
	<div ng-controller="ChatController">
		<div class="chat-window-list-container pull-right">
			<div ng-repeat="info in chatWindowList" class="chat-window pull-right">
				<chat-window/>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 chat-area">
			<div class="chat-buddy-list" id="chatBuddyList">
				<div class="chat-buddy-list-container">
					<div ng-repeat="info in chatBuddyList | filter : chatBuddy">
						<chat-buddy></chat-buddy>
					</div>
					<div class="chat-info-search">
						<i class="fa fa-search chat-search-icon"></i>
						<input ng-model="chatBuddy" class="chat-search-input" type="text" placeholder="Search Buddy" name="q" autocomplete="off" spellcheck="false">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>